@font-face {
  font-family: "exo-regular";
  src: url("exo-regular-webfont.woff2") format("woff2"),
    url("exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.863);
  font-family: "exo-regular";
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr 0.5fr;
}

#headerTitle {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: rgba(59, 59, 59, 0.829);
  border-bottom: 2px solid;
}

.sideBar {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}
.sideBar h1 {
  border-bottom: 2px solid;
}
.options {
  padding: 5px;
  cursor: pointer;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
}

img {
  width: 30px;
}

.options:hover {
  background-color: rgba(163, 163, 163, 0.123);
}
p {
  margin-right: auto;
}
.selected {
  background-color: rgba(224, 224, 70, 0.884);
}
.selected:hover {
  background-color: rgba(224, 224, 70, 0.664);
}
.editProjDiv {
  position: relative;
}
.editProj {
  display: none;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 32px;
  right: 10px;
  background-color: grey;
  padding: 5px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.541);
}
.editProj button {
  background-color: transparent;
  border-radius: 0px;
}
.editProj button:hover {
  background-color: rgba(201, 195, 195, 0.418);
}
.addP {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(59, 59, 59, 0.829);
  padding: 10px;
  border-radius: 10px;
}
.addP button {
  font-weight: 900;
  color: white;
}
#add {
  background-color: rgb(38, 145, 43);
  width: 40%;
}
#close {
  background-color: rgb(141, 43, 43);
  width: 40%;
}
#add:hover {
  background-color: rgba(38, 145, 43, 0.637);
}
#close:hover {
  background-color: rgb(141, 43, 43, 0.637);
}

.renameProj {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(59, 59, 59, 0.829);
  padding: 10px;
  border-radius: 10px;
}
.renameProj button {
  font-weight: 900;
  color: white;
}
#renameProj {
  background-color: rgb(38, 145, 43);
  width: fit-content;
}
#renameProj:hover {
  background-color: rgba(38, 145, 43, 0.637);
}
#cancelRename {
  background-color: rgb(141, 43, 43);
  width: 40%;
}
#cancelRename:hover {
  background-color: rgb(141, 43, 43, 0.637);
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(59, 59, 59, 0.404);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  overflow: scroll;
  scrollbar-width: none;
}
.selectedProject {
  background-color: rgb(36, 180, 96);
  font-size: 3rem;
  font-weight: 700;
  padding: 20px;
  height: 88px;
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: rgba(163, 163, 163, 0.123);
}

input,
textarea,
select {
  outline: none;
  margin-left: 10px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: rgba(182, 178, 178, 0.897);
  margin: 10px 0px 20px 0px;
  font-family: inherit;
}

textarea {
  height: 150px;
  resize: none;
}
select {
  font-size: 1.2rem;
}

button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

#addTask {
  margin-top: 30px;
  font-size: 1.5rem;
  display: none;
}

.tasksContainer {
  height: fit-content;
  overflow: scroll;
  scrollbar-width: none;
}
.task {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 5fr 2fr 0.7fr 0.7fr;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
}
li {
  list-style: none;
}
.checkBox {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  flex-shrink: 0;
}
.taskTitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.taskDueDate {
  margin-bottom: 8px;
}

.dialogCss {
  margin: auto;
  padding: 50px;
  border-radius: 30px;
  background-color: rgb(87, 85, 85);
  width: 500px;
}

.dialogCss::backdrop {
  background: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(2px);
}

.formCss button {
  font-weight: 900;
  color: white;
}

#submitBtn {
  background-color: rgb(38, 145, 43);
}
#submitBtn:hover {
  background-color: rgba(38, 145, 43, 0.637);
}
.closeBtn {
  background-color: rgb(141, 43, 43);
}
.closeBtn:hover {
  background-color: rgb(141, 43, 43, 0.637);
}

#renameProj {
  background-color: rgb(38, 145, 43);
  width: fit-content;
}
#renameProj:hover {
  background-color: rgba(38, 145, 43, 0.637);
}
#cancelRename {
  background-color: rgb(141, 43, 43);
  width: 40%;
}
#cancelRename:hover {
  background-color: rgb(141, 43, 43, 0.637);
}

#editBtn {
  background-color: rgb(38, 145, 43);
}
#editBtn:hover {
  background-color: rgba(38, 145, 43, 0.637);
}

#allTasks {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
