@font-face {
  font-family: "exo-regular";
  src: url("exo-regular-webfont.woff2") format("woff2"),
    url("exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.863);
  font-family: "exo-regular";
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr 0.5fr;
}

#headerTitle {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: rgba(59, 59, 59, 0.829);
  border-bottom: 2px solid;
}

.sideBar {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}
.sideBar h1 {
  border-bottom: 2px solid;
}
.options {
  padding: 10px;
  cursor: pointer;
}
.test {
  background-color: gray;
}
.options:hover {
  background-color: rgba(163, 163, 163, 0.123);
}
.options form {
  font-size: 1.5rem;
}
.addP {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(59, 59, 59, 0.829);
  padding: 10px;
  border-radius: 10px;
}
.addP button {
  font-weight: 900;
  color: white;
}
#add {
  background-color: rgb(38, 145, 43);
  width: 40%;
}
#close {
  background-color: rgb(141, 43, 43);
  width: 40%;
}
#add:hover {
  background-color: rgba(38, 145, 43, 0.637);
}
#close:hover {
  background-color: rgb(141, 43, 43, 0.637);
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(59, 59, 59, 0.404);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.selectedProject {
  background-color: rgb(36, 180, 96);
  font-size: 3rem;
  font-weight: 700;
  padding: 20px;
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: rgba(163, 163, 163, 0.123);
}

input,
textarea {
  outline: none;
  margin-left: 10px;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: rgba(231, 228, 228, 0.897);
  margin: 10px 0px 20px 0px;
  font-family: inherit;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

#taskDialog {
  margin: auto;
  padding: 50px;
  border-radius: 30px;
  background-color: rgb(179, 176, 176);
  width: 500px;
}
